{% extends 'base.html.twig' %}

{% block title %}New member | {{ parent() }}{% endblock %}

{% block body %}
    <div class="col-md-12">
        <h1>New member</h1>
    </div>
    {% include 'member/form.html.twig' with {'member': member } %}
{% endblock %}
