{% extends 'base.html.twig' %}

{% block title %}Delete member: {{ member.company }} | {{ parent() }}{% endblock %}

{% block operations %}
    {% include 'member/operations.html.twig' with {'id': member.id, 'active': 'delete' } %}
{% endblock %}

{% block body %}
    <div class="col-md-12">
        <h1>Delete member: <i>{{ member.company }}</i></h1>
    </div>
    <div class="col-md-12  d-flex flex-row  justify-content-start align-items-center">
        <p class="mb-0">Are-you sure you want to delete the member "{{ member.company }}" and <b>all associated jobs</b>?
        </p>
        {{ form_start(form, {'attr': {'class': 'w-20 ml-4'}}) }}
        {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary'}}) }}
        {{ form_end(form) }}
    </div>

{% endblock %}
