{% extends 'base.html.twig' %}

{% block title %}Edit member: {{ member.company }} | {{ parent() }}{% endblock %}

{% block operations %}
    {% include 'member/operations.html.twig' with {'id': member.id, 'active': 'edit' } %}
{% endblock %}

{% block body %}
    <div class="col-md-12">
        <h1>Edit member: <i>{{ member.company }}</i></h1>
    </div>
    {% include 'member/form.html.twig' with {'member': member } %}
{% endblock %}
