<div class="col-md-8">
    {{ form_start(form, { 'attr': {'class': 'row'} }) }}

    {{ form_errors(form, {'attr': {'class': 'mb-3'}}) }}

    {{ form_label(form.company, null, { 'label_attr': {'class': 'col-sm-3'} }) }}
    <div class="col-sm-9 mb-3">
        {{ form_widget(form.company) }}
    </div>
    
    {{ form_label(form.url, null, { 'label_attr': {'class': 'col-sm-3'} }) }}
    <div class="col-sm-9 mb-3">
        {{ form_widget(form.url, { 'attr': {'class': ''} }) }}
    </div>

    {{ form_label(form.email, null, { 'label_attr': {'class': 'col-sm-3'} }) }}
    <div class="col-sm-9 mb-3">
        {{ form_widget(form.email, { 'attr': {'class': ''} }) }}
    </div>

    {{ form_row(form.submit, { 'row_attr': {'class': 'offset-sm-3'} }) }}

    {{ form_end(form) }}
</div>
