{% extends 'base.html.twig' %}

{% block title %}Affiliate members | {{ parent() }}{% endblock %}

{% block body %}
    <h1 class="col-md-12">Affiliate members</h1>
    <div class="col-md-7">
        {% if members %}
            <table class="table table-striped">
                {% for member in members %}
                    <tr>
                        <td class="w-80 p-1 align-middle"><a href="{{ path('member_view', {'id': member.id}) }}">{{ member.company }}</a></td>
                        <td class="p-1 w-10 text-right">
                            <a href="{{ path('member_edit', {'id': member.id}) }}"><i
                                        class="fas fa-pen-square fa-2x"></i></a>
                        </td>
                        <td class="p-1 w-10 text-right">
                            <a href="{{ path('member_delete', {'id': member.id}) }}"><i
                                        class="fa fa-minus-square fa-2x"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>No member found.</p>
        {% endif %}
    </div>
{% endblock %}
