{% extends 'base.html.twig' %}

{% block title %}{{ member.company }} | {{ parent() }}{% endblock %}

{% block operations %}
    {% include 'member/operations.html.twig' with {'id': member.id, 'active': 'view' } %}
{% endblock %}

{% block body %}
    <h1 class="member-company h1 col-sm-12">{{ member.company }}</h1>
    <div class="member-url col-sm-12"><a href="{{ member.url }}">{{ member.url }}</a></div>
    <div class="member-email col-sm-12">{{ member.email|replace({'@': ' [at] '}) }}</div>

    {% if jobs %}
        <div class="col-sm-12">
            <h2>Published jobs</h2>

{#            <div class="form-wrapper">#}
                {{ form_start(category_form, { 'attr': {'class': 'row mb-4'} }) }}
                {{ form_errors(category_form, {'attr': {'class': 'col-sm-12 mb-2'}}) }}
                {{ form_label(category_form.category, null, { 'label_attr': {'class': 'col-sm-2'} }) }}
                <div class="col-sm-8">
                    {{ form_widget(category_form.category, { 'attr': {'class': ''} }) }}
                </div>
                {{ form_widget(category_form.submit, { 'row_attr': {'class': 'col-sm-1'} }) }}
                {{ form_end(category_form) }}
{#            </div>#}

            <table class="jobs-list table  border-bottom col-md-12">
                {% for job in jobs %}
                    <tr>
                        <td class="job-location">{{ job.location }}</td>
                        <td class="job-position">
                            <a href="{{ path('job_view', {'id': job.id}) }}">{{ job.position }}</a>
                        </td>
                        <td class="job-company"><a
                                    href="{{ path('category_view', {'id': job.category.id}) }}">{{ job.category.name }}</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% endif %}
{% endblock %}
