{% extends 'base.html.twig' %}

{% block title %}{{ category.name }} edition | {{ parent() }}{% endblock %}

{% block body %}
    <h1>Category edit: {{ category.name }}</h1>
    <div class="col-md-6 offset-md-3">
        {% include 'category/form.html.twig' with {'category': category} %}
    </div>
{% endblock %}
