{{ form_start(form,  {'attr': {'novalidate': 'novalidate','class': 'd-flex flex-row justify-content-between'}}) }}
        {{ form_label(form.name, null, {'label_attr': {'class': 'sr-only'}}) }}
<div class="w-80">
    {{ form_widget(form.name, {'attr': {'placeholder': 'New category name'} }) }}
</div>
{{ form_widget(form.submit, {'attr': {'class': 'w-20 btn btn-primary ml-2'}}) }}
{{ form_end(form) }}
