{% extends 'base.html.twig' %}

{% block title %}Categories | {{ parent() }}{% endblock %}



{% block body %}
    <h1 class="col-md-12">Categories</h1>
    <div class="col-md-7">
        {% if categories %}
            <table class="table table-striped">
                {% for category in categories %}
                    <tr>
                        <td class="w-80 p-1 align-middle"><a href="{{ path('category_view', {'id': category.id}) }}">{{ category.name }}</a></td>
                        <td class="p-1 w-10 text-right">
                            <a href="{{ path('category_edit', {'id': category.id}) }}"><i
                                        class="fas fa-pen-square fa-2x"></i></a>
                        </td>
                        <td class="p-1 w-10 text-right">
                            <a href="{{ path('category_delete', {'id': category.id}) }}"><i
                                        class="fa fa-minus-square fa-2x"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>No category found.</p>
        {% endif %}
    </div>
    <div class="col-md-5">
        <h2 class="mt-0">Add new category</h2>
        {% include 'category/form.html.twig' %}
    </div>
{% endblock %}
