{% extends 'base.html.twig' %}

{% block title %}{{ category.name }} | {{ parent() }}{% endblock %}

{% block body %}
        <h1 class="col-sm-12">{{ category.name }} jobs</h1>
        {% if jobs_total_number %}
            <table class="jobs-list table border-bottom col-sm-12">
                {% for job in jobs|slice(0,3) %}
                    <tr>
                        <td class="job-location">{{ job.location }}</td>
                        <td class="job-position">
                            <a href="{{ path('job_view', {'id': job.id}) }}">{{ job.position }}</a>
                        </td>
                        <td class="job-company">{{ job.member.company }}</td>
                    </tr>
                {% endfor %}
            </table>

            <div class="jobs-pagination-wrapper  col-sm-12">
                <div class="jobs-number">{{ jobs_total_number }} jobs in this category - page
                    {{ current_page }}/{{ last_page }}</div>
                {% if last_page > 1 %}
                    <div class="jobs-pagination">
                        <ul class="pagination justify-content-end">
                            {% if previous_page %}
                                <li class="page-item"><a aria-label="Previous"
                                                         href="{{ path('category_view', {'id': category.id, 'page': previous_page }) }}"
                                                         class="page-link pagination-previous">Previous page</a></li>
                            {% endif %}
                            <li class="page-item active">
                                <div class="page-link  pagination-current">{{ current_page }}</div>
                            </li>
                            {% if next_page %}
                                <li class="page-item"><a aria-label="Next"
                                                         href="{{ path('category_view', {'id': category.id, 'page': next_page }) }}"
                                                         class="page-link pagination-next">Next page</a></li>
                            {% endif %}
                        </ul>
                    </div>
                {% endif %}
            </div>
        {% else %}
            <p class="col-sm-12">No job found in this category.</p>
        {% endif %}
{% endblock %}
