{% extends 'base.html.twig' %}

{% block title %}New job | {{ parent() }}{% endblock %}

{% block body %}
    <div class="col-md-12">
        <h1>New job</h1>
    </div>
    {% include 'job/form.html.twig' with {'job': job } %}
{% endblock %}
