{% extends 'base.html.twig' %}

{% block title %}Delete job {{ job.position }} | {{ parent() }}{% endblock %}

{% block operations %}
    {% include 'job/operations.html.twig' with {'id': job.id, 'active': 'delete' } %}
{% endblock %}

{% block body %}
    <div class="col-md-12">
        <h1>Delete job: <i>{{ job.position }} - {{ job.member.company }}</i></h1>
    </div>
    <div class="col-md-12  d-flex flex-row  justify-content-start align-items-center">
        <p class="mr-2">Are-you sure you want to delete the job "{{ job.position }} - {{ job.member.company }}" ?</p>
        {{ form(form) }}
    </div>

{% endblock %}
