{% extends 'base.html.twig' %}

{% block title %}Edit job {{ job.position }} | {{ parent() }}{% endblock %}

{% block operations %}
    {% include 'job/operations.html.twig' with {'id': job.id, 'active': 'edit' } %}
{% endblock %}

{% block body %}
    <div class="col-md-12">
        <h1>Edit job: <i>{{ job.position }} - {{ job.member.company }}</i></h1>
    </div>
    {% include 'job/form.html.twig' with {'job': job } %}
{% endblock %}
