<div class="col-md-8">
    {{ form_start(form, { 'attr': {'class': 'row'} }) }}

    {{ form_errors(form, {'attr': {'class': 'mb-3'}}) }}

    {{ form_label(form.member, null, { 'label_attr': {'class': 'col-sm-3'} }) }}
    <div class="col-sm-9 mb-3">
        {{ form_widget(form.member, { 'attr': {'class': ''} }) }}
    </div>

    {{ form_label(form.type, null, { 'label_attr': {'class': 'col-sm-3'} }) }}
    <div class="col-sm-7 mb-3">
        {{ form_widget(form.type, { 'attr': {'class': 'd-flex flex-row  justify-content-between'} }) }}
    </div>

    {{ form_label(form.logo, null, { 'label_attr': {'class': 'col-sm-3'} }) }}
    <div class="col-sm-9 mb-3">
        <div id="image-logo-wrapper" class="d-flex flex-row  justify-content-start">
            {% if job.logo %}
                {% include 'jobeet/image.html.twig' with {'image': job.logo, 'filter': 'thumbnail', 'class': ''} %}
                <button type="button" class="btn btn-primary remove-image ml-2" id="remove-image-logo">Remove image
                </button>
                {% do form.logo.setRendered() %}
            {% else %}
                {{ form_widget(form.logo, { 'attr': {'class': 'row'} }) }}
            {% endif %}
        </div>
    </div>

    {{ form_label(form.position, null, { 'label_attr': {'class': 'col-sm-3'} }) }}
    <div class="col-sm-9 mb-3">
        {{ form_widget(form.position, { 'attr': {'class': ''} }) }}
    </div>
    {{ form_label(form.location, null, { 'label_attr': {'class': 'col-sm-3'} }) }}
    <div class="col-sm-9 mb-3">
        {{ form_widget(form.location, { 'attr': {'class': ''} }) }}
    </div>
    {{ form_label(form.category, null, { 'label_attr': {'class': 'col-sm-3'} }) }}
    <div class="col-sm-9 mb-3">
        {{ form_widget(form.category, { 'attr': {'class': ''} }) }}
    </div>
    {{ form_label(form.description, null, { 'label_attr': {'class': 'col-sm-3'} }) }}
    <div class="col-sm-9 mb-3">
        {{ form_widget(form.description, { 'attr': {'class': ''} }) }}
    </div>

    <div class="col-sm-9 mb-3 offset-sm-3 mb-3">
        {{ form_widget(form.public, { 'attr': {'class': ''} }) }}
    </div>

    {{ form_row(form.submit, { 'row_attr': {'class': 'offset-sm-3'} }) }}

    {{ form_end(form) }}
</div>
