<ul class="nav nav-tabs mb-4">
    <li class="nav-item">
        <a class="nav-link{% if active == 'view' %} active{% endif %}"
           href="{{ path('job_view', {'id': id}) }}">View</a>
    </li>
    <li class="nav-item">
        <a class="nav-link{% if active == 'edit' %} active{% endif %}"
           href="{{ path('job_edit', {'id': id}) }}">Edit</a>
    </li>
    <li class="nav-item">
        <a class="nav-link{% if active == 'delete' %} active{% endif %}" href="{{ path('job_delete', {'id': id}) }}">Delete</a>
    </li>
</ul>
