{% extends 'base.html.twig' %}

{% block title %}{{ job.position }} | {{ parent() }}{% endblock %}

{% block operations %}
    {% include 'job/operations.html.twig' with {'id': job.id, 'active': 'view' } %}
{% endblock %}

{% block body %}
    <div class=" col-sm-12 d-flex flex-row  justify-content-between">
        <h1 class="job-company h1">{{ job.position }} - <a
                    href="{{ path('member_view', {'id': job.member.id }) }}">{{ job.member.company }}</h1>
        {% include 'jobeet/image.html.twig' with {'image': job.logo, 'filter': 'logo', 'class': 'float-right' } %}
    </div>
    <div class="job-location lead  col-sm-12">{{ job.location }}</div>
    <div class="lead border-bottom border-top pt-3 pb-3 mt-3 mb-3  col-sm-12"><a
                href="{{ path('category_view', {'id': job.category.id}) }}">{{ job.category.name }}</a></div>
    <div class="job-description  col-sm-12">{{ job.description }}</div>
    <div class="job-email-wrapper  col-sm-12">
        <div class="job-email-title lead">How to apply?</div>
        <div class="job-email">{{ job.member.email|replace({'@': ' [at] '}) }}</div>
    </div>
{% endblock %}
