{% if filter %}
    <div class="image-wrapper image-filter--{{ filter }} {{ class }}">
        <img src="{{ asset('files/' ~ image)|imagine_filter(filter) }}" alt="" class="image"/>
    </div>
{% else %}
    <div class="image-wrapper {{ class }}">
        <img src="files/{{ image }}" alt="" class="image"/>
    </div>
{% endif %}
