{% extends 'base.html.twig' %}

{% block logo %}
    <h1 class="site-name h2 mt-0 mb-0 col-sm-4">Jobeet</h1>
{% endblock %}

{% block body %}
    {% if categorized_jobs %}
        {% for categorized_group  in categorized_jobs %}
            {% set category = categorized_group.category %}
            <h2 class="col-md-12"><a href="{{ path('category_view', {'id': category.id}) }}">{{ category.name }}</a>
            </h2>
            <table class="jobs-list table  border-bottom col-md-12">
                {% for job in categorized_group.jobs %}
                    <tr>
                        <td class="job-location">{{ job.location }}</td>
                        <td class="job-position">
                            <a href="{{ path('job_view', {'id': job.id}) }}">{{ job.position }}</a>
                        </td>
                        <td class="job-company"><a href="{{ path('member_view', {'id': job.member.id}) }}">{{ job.member.company }}</a></td>
                    </tr>
                {% endfor %}
            </table>
            {% if categorized_group.more_link %}
                <div class="more-link text-right col-md-12">
                    <a href="{{ path('category_view', {'id': category.id}) }}">More jobs in "{{ category.name }}"</a>
                </div>
            {% endif %}
        {% endfor %}
    {% else %}
        <p>No jobs found.</p>
    {% endif %}
{% endblock %}
