{% extends 'base.html.twig' %}

{% block title %}Search | {{ parent() }}{% endblock %}

{% block body %}
    <h1>Jobs search</h1>
    {% if jobs %}
        <table class="jobs-list table border-bottom">
            {% for job in jobs %}
                <tr>
                    <td class="job-location w-20">{{ job.location }}</td>
                    <td class="job-position w-30">
                        <a href="{{ path('job_view', {'id': job.id}) }}">{{ job.position }}</a>
                    </td>
                    <td class="job-company w-20">
                        <a href="{{ path('member_view', {'id': job.member.id}) }}">{{ job.member.company }}</a>
                    </td>
                    <td class="job-category w-30">
                        <a href="{{ path('category_view', {'id': job.category.id}) }}">{{ job.category.name }}</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p class="search-no-results">No results found.</p>
    {% endif %}
{% endblock %}
