{% if search_form is defined %}
    {{ form_start(search_form, { 'attr': {'class': 'd-flex flex-row  justify-content-end'} }) }}
    {{ form_errors(search_form) }}
    {{ form_widget(search_form.search) }}
    {{ form_widget(search_form.submit, { 'attr': {'class': 'btn btn-primary pt-0 pb-0 ml-1'} }) }}
    {{ form_end(search_form) }}
{% endif %}
