<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Jobeet{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="/favicon.ico">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
<div class="page-wrapper container">

    <div class="header border-bottom row">
        {% block logo %}
            <div class="site-name h2 col-sm-4 mb-0"><a href="{{ path('index') }}">Jobeet</a></div>
        {% endblock %}
        {% block member_add %}
            <div class="job-add-link-wrapper h2 col-sm-2  mb-0">
                <a class="btn btn-primary" href="{{ path('member_add') }}">New member</a>
            </div>
        {% endblock %}
        {% block job_add %}
            <div class="job-add-link-wrapper h2 col-sm-2  mb-0">
                <a class="btn btn-primary" href="{{ path('job_add') }}">New job</a>
            </div>
        {% endblock %}
        {% block search_form %}
            <div class="search-form-wrapper col-sm-4  mb-0">
                {{ render(controller('App\\Controller\\JobeetController::searchForm' )) }}
            </div>
        {% endblock %}
    </div>

    {% if app.session.flashbag.peekAll() %}
        <div class="messages row mt-3">
            <div class="col-md-12">
                {% for message in app.flashes('error') %}
                    <div class="alert alert-danger">{{ message }}</div>
                {% endfor %}
                {% for message in app.flashes('warning') %}
                    <div class="alert alert-warning">{{ message }}</div>
                {% endfor %}
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">{{ message }}</div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    {% block operations %}{% endblock %}

    <div class="body-wrapper row">
        {% block body %}{% endblock %}
    </div>

    {% block footer %}
        <div class="footer border-top">
            <ul class="nav nav-fill">
                <li class="nav-item"><a class="nav-link" href="/">About Jobeet</a></li>
                <li class="nav-item"><a class="nav-link" href="/">Full RSS Feed</a></li>
                <li class="nav-item"><a class="nav-link" href="/">Jobeet API</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ path('member_list') }}">Affiliate members</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ path('category_list') }}">Categories</a></li>
            </ul>
        </div>
    {% endblock %}
</div>

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

</body>
</html>
